/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont'; /* Project id 3873270 */
  src: url("//at.alicdn.com/t/c/font_3873270_w3wm0p8u6r.woff2?t=1675082369071") format('woff2'), url("//at.alicdn.com/t/c/font_3873270_w3wm0p8u6r.woff?t=1675082369071") format('woff'), url("//at.alicdn.com/t/c/font_3873270_w3wm0p8u6r.ttf?t=1675082369071") format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pinglun:before {
  content: "\e60d";
}
.icon-youqinglianjie:before {
  content: "\e60e";
}
.icon-guanyuwomen:before {
  content: "\e60a";
}
.icon-goutongye_zuojiantou_fanhui:before {
  content: "\e603";
}
.icon-jiantoutubiao:before {
  content: "\e609";
}
.icon-zhandian:before {
  content: "\e605";
}
.icon-gonggao:before {
  content: "\e60c";
}
.icon-huidaodingbu:before {
  content: "\e60b";
}
.icon-github-fill:before {
  content: "\e604";
}
.icon-shouye:before {
  content: "\e608";
}
.icon-rizhi:before {
  content: "\e606";
}
.icon-sousuo:before {
  content: "\e602";
}
.icon-gongju:before {
  content: "\e607";
}
.icon-xiangce:before {
  content: "\e60f";
}
